{% extends 'base.html' %}
{% block title %}
  {% if is_edit %}
  Edit post
  {% else %}
    New post
  {% endif %}
{% endblock %}
{% block content %}
  {% load user_filters %} 
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card rounded mb-4 shadow-sm">
        <div class="card-body">
          <h1 class="fw-bold text-center">
            {% if is_edit %}
            Edit post
            {% else %}
            New post
            {% endif %}
          </h1>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
              {% if field.name != 'image' %}
                <div class="form-group row my-3">
                  <label>{{ field.label }}
                    {% if field.field.required %}*{% endif %}
                  </label>
                  <div>
                    {{ field|addclass:'form-control' }}
                    <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
            {% if image_url %}
              <div class="form-group row my-3 d-flex justify-content-center">
                <img id="photo-personal" src="{{ image_url }}" alt="Image Change" style="max-width: 300px; max-height: 300px; margin: 0.5rem 0;">
              </div>
              <div class="form-group row my-3">
                <label>Change</label>
                <div class="text-center">
                  <div class="d-flex justify-content-center" style="max-width: 300px; max-height: 300px; margin: 0 auto;">
                    <img id="image-change-preview" src="#" alt="Image Change Preview" style="display: none; max-width: 300px; max-height: 300px; margin: 0.5rem 0;">
                  </div>
                  <input type="file" id="image-change-input" name="image-change" accept="image/*" onchange="previewChangeImage(event)">
                  <small class="form-text text-muted">Upload an image</small>
                </div>
              </div>
            {% else %}
              <div class="form-group row my-3">
                <label>Image</label>
                <div class="text-center">
                  <div class="d-flex justify-content-center" style="max-width: 300px; max-height: 300px; margin: 0 auto;">
                    <img id="image-preview" src="#" alt="Image Preview" style="display: none; max-width: 300px; max-height: 300px; margin: 0.5rem 0;">
                  </div>
                  <input type="file" id="image-input" name="image" accept="image/*" onchange="previewImage(event)">
                  <small class="form-text text-muted">Upload an image</small>
                </div>
              </div>
            {% endif %}
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
                {% if is_edit %}
                Save
                {% else %}
                Add
                {% endif %}
              </button>
            </div>
          </form>
          
          <script>
            function previewChangeImage(event) {
              var input = event.target;
              var preview = document.getElementById('image-change-preview');
            
              if (input.files && input.files[0]) {
                var reader = new FileReader();
            
                reader.onload = function(e) {
                  preview.src = e.target.result;
                  preview.style.display = 'block';
                };
            
                reader.readAsDataURL(input.files[0]);
              }
            }
            function previewImage(event) {
              var input = event.target;
              var preview = document.getElementById('image-preview');
            
              if (input.files && input.files[0]) {
                var reader = new FileReader();
            
                reader.onload = function(e) {
                  preview.src = e.target.result;
                  preview.style.display = 'block';
                };
            
                reader.readAsDataURL(input.files[0]);
              }
            }
          </script>          
        </div>
      </div>
    </div>
  </div>
{% endblock %}
