{% extends "base.html" %}
{% block title %}Personal account {{request.user.get_full_name}}{% endblock %}
{% block content %}
  {% load user_filters %}
  {% load thumbnail %}
  {% load static %}
  <div class="row justify-content-center">
    <h1 class="display-5 fw-bold text-center">
      Your Personal Account 
    </h1>
    <div class="col-auto">
      {% if user.profile.photo %}
        {% thumbnail user.profile.photo "100x100" crop="center" as photo %}
          <img class="img-fluid rounded mx-auto" src="{{ photo.url }}">
        {% endthumbnail %}
      {% else %}
        <img src="{% static 'img/avatar.jpg' %}" width="100" height="100" class="d-inline-block" alt="">
      {% endif %}
    </div>
    <div class="col-auto">
      <h1>
        User <i>{{ request.user.username }}</i>
      </h1>
    </div>
    <div class="col-md-8 p-5">
        {% if user_form.errors %}
            {% for field in user_form %}
              {% for error in field.errors %}
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in user_form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error|escape }}
            </div>
            {% endfor %}
        {% endif %}
        {% if profile_form.errors %}
            {% for field in profile_form %}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
            {% endfor %}
            {% for error in profile_form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error|escape }}
            </div>
            {% endfor %}
        {% endif %}
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in user_form %} 
        <div class="form-group row my-3">
          <label for="{{ field.id_for_label }}">
          {{ field.label }}
            {% if field.field.required %}
            <span class="required text-danger">*</span>
            {% endif %}
          </label>
          {{ field|addclass:'form-control' }} 
          {% if field.help_text %}
            <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
            {{ field.help_text|safe }}
            </small>
          {% endif %}
        </div>
        {% endfor %}
        {% for field in profile_form %} 
          {% if field.name != 'photo' %}
            <div class="form-group row my-3">
              <label for="{{ field.id_for_label }}">
              {{ field.label }}
                {% if field.field.required %}
                <span class="required text-danger">*</span>
                {% endif %}
              </label>
              {{ field|addclass:'form-control' }} 
              {% if field.help_text %}
                <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                {{ field.help_text|safe }}
                </small>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
        {% if user.profile.photo %}
          <div class="form-group row my-3 d-flex justify-content-center">
            <img id="photo-personal" src="{{ user.profile.photo.url }}"alt="Photo" style="max-width: 300px; max-height: 300px; margin: 0.5rem 0;">
          </div>
          <div class="form-group row my-3">
            <label>Change</label>
            <div class="px-0 mt-0">
              <div class="d-flex justify-content-center" style="max-width: 300px; max-height: 300px; margin: 0 auto;">
                <img id="photo-change-preview" src="#" alt="Photo Change Preview" style="display: none; max-width: 300px; max-height: 300px; margin: 0.5rem 0;">
              </div>
              <input type="file" id="photo-change-input" name="photo-change" accept="image/*" onchange="previewChangePhoto(event)">
              <small class="form-text text-muted">Attach your photo</small>
            </div>
          </div>
        {% else %}
          <div class="form-group row my-3">
            <label>Photo</label>
            <div class="px-0 mt-0">
              <div class="d-flex justify-content-center" style="max-width: 300px; max-height: 300px; margin: 0 auto;">
                <img id="photo-preview" src="#" alt="Photo Preview" style="display: none; max-width: 300px; max-height: 300px; margin: 0.5rem 0;">
              </div>
              <input type="file" id="photo-input" name="photo" accept="image/*" onchange="previewPhoto(event)">
              <small class="form-text text-muted">Attach your photo</small>
            </div>
          </div>
        {% endif %}
        <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">
          Save Changes
        </button>
        </div>
      </form>
      <script>
        function previewChangePhoto(event) {
          var input = event.target;
          var preview = document.getElementById('photo-preview');
        
          if (input.files && input.files[0]) {
            var reader = new FileReader();
        
            reader.onload = function(e) {
              preview.src = e.target.result;
              preview.style.display = 'block';
            };
        
            reader.readAsDataURL(input.files[0]);
          }
        }
        function previewPhoto(event) {
          var input = event.target;
          var preview = document.getElementById('photo-preview');
        
          if (input.files && input.files[0]) {
            var reader = new FileReader();
        
            reader.onload = function(e) {
              preview.src = e.target.result;
              preview.style.display = 'block';
            };
        
            reader.readAsDataURL(input.files[0]);
          }
        }
      </script> 
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}