{% comment %} {% extends "base.html" %}
{% block title %}About the author of the project{% endblock %}
{% block content %} {% endcomment %}
  {% load static %} 
  <div class="row">
    <h3>Leader</h3>
    <div class="col-12 d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="{% static 'img/cuong.jpg' %}" width="250" class="img-fluid rounded" style="height: 350px !important;">
        <h5>Đặng Quốc Cường</h5>
        <h5>20204902</h5>
      </div>
    </div>
    <h3>Others member</h3>
    <div class="col-12 d-flex justify-content-center align-items-center flex-wrap">  
      <div class="col-6 d-flex flex-column justify-content-center align-items-center">
        <img src="{% static 'img/huy.jpg' %}" width="250" class="img-fluid rounded" style="height: 350px !important;">
        <h5>Vũ Quang Huy</h5>
        <h5>20204880</h5>
      </div>
      <div class="col-6 d-flex flex-column justify-content-center align-items-center">
        <img src="{% static 'img/nam.jpg' %}" width="250" class="img-fluid rounded" style="height: 350px !important;">
        <h5>Phạm Thanh Nam</h5>
        <h5>20204921</h5>
      </div>
      <div class="col-6 d-flex flex-column justify-content-center align-items-center">
        <img src="{% static 'img/dung.jpg' %}" width="250" class="img-fluid rounded" style="height: 350px !important;">
        <h5>Nguyễn Trung Dũng</h5>
        <h5>20204906</h5>
      </div>
      <div class="col-6 d-flex flex-column justify-content-center align-items-center">
        <img src="{% static 'img/quanganh.jpg' %}" width="250" class="img-fluid rounded" style="height: 350px !important;">
        <h5>Lê Quang Anh</h5>
        <h5>20204867</h5>
      </div>
    </div>
  </div>
{% comment %} {% endblock %}  {% endcomment %}