{% extends "base.html" %}
{% block title %}About the project{% endblock %}
{% block content %}
  {% load static %}
  <div class="row border rounded mb-4 shadow-sm">
    <div class="col p-4 d-flex flex-column">
      <h1 class="display-5 fw-bold text-center">What is this project?</h1><br>
      <div class="row">
        <div class="col-auto col-md-2 nav flex-column nav-pills me-3" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-project-tab" data-bs-toggle="pill" data-bs-target="#v-pills-project" 
            type="button" role="tab" aria-controls="v-pills-project" aria-selected="true">
            About the project
          </button>
          <button class="nav-link" data-bs-toggle="pill" data-bs-target="#v-pills-tools" 
            type="button" role="tab" aria-controls="v-pills-tools" aria-selected="false">
            Tools
          </button>
          <button class="nav-link" data-bs-toggle="pill" data-bs-target="#v-pills-features" 
            type="button" role="tab" aria-controls="v-pills-features" aria-selected="false">
            Possibilities
          </button>
          <button class="nav-link" id="v-pills-author-tab" data-bs-toggle="pill" data-bs-target="#v-pills-author" 
            type="button" role="tab" aria-controls="v-pills-author" aria-selected="false">
            About the author
        </button>
      </div>
        <div class="col-12 col-md-9 tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-project" role="tabpanel" aria-labelledby="v-pills-project-tab">
            <p>
              <h4>The website was created as part of the course Introduction to Software Engineering - IT3180E, taught by Mr. Trinh Thanh Trung</h4>
            </p>
            <p>
              <h6>Basic goals:</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Understanding the Software Development Life Cycle</li>
                <li class="list-group-item">Applying Software Engineering Principles</li>
                <li class="list-group-item">Collaboration and Teamwork</li>
                <li class="list-group-item">Problem-Solving and Critical Thinking</li>
                <li class="list-group-item">Software Development Process Management</li>
                <li class="list-group-item">Delivering a Functional Software Product</li>
              </ul>
            </p>
          </div>
          <div class="tab-pane fade" id="v-pills-tools" role="tabpanel" aria-labelledby="v-pills-tools-tab">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> 
                <img src="{% static 'img/fav/Python.jpg' %}" width="30"> Python 3.7
              </li>
              <li class="list-group-item">
                <img src="{% static 'img/fav/dj.png' %}" width="30"> Django 2.2.16
              </li>
              <li class="list-group-item">
                <img src="{% static 'img/fav/vscode.jpg' %}" width="30"> VS Code
              </li>
              <li class="list-group-item">
                <img src="{% static 'img/fav/bootstrap-logo.svg' %}" width="30"> Bootstrap
              </li>
              <li class="list-group-item">
                <img src="{% static 'img/fav/sqlite.jpg' %}" width="30"> SQLite
              </li>
            </ul>
          </div>
          <div class="tab-pane fade" id="v-pills-features" role="tabpanel" aria-labelledby="v-pills-features-tab">
            <h2>Available Features:</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Pages: main page, the author profile with posts</li>
              <li class="list-group-item">Create, and edit posts with images attached and delete posts</li>
              <li class="list-group-item">Ability to generate images automatically with tags (Cycle GAN)</li>
              <li class="list-group-item">Create comments on posts</li>
              <li class="list-group-item">Possibility to follow the author (subscription feed with the transition to the main page)</li>
              <li class="list-group-item">Custom admin panel</li>
              <li class="list-group-item">Working with users: new registration, login/logout, password change, and password recovery (emulator)</li>
              <li class="list-group-item">Pages: group and author navigation with top authors by posts and comments</li>
              <li class="list-group-item">Personal account with fields: avatar (custom), additional information about the author</li>
              <li class="list-group-item">The system likes posts like</li>
              <li class="list-group-item">Reflect information about likes and comments in a post's feed</li>
              <li class="list-group-item">Search articles by keyword</li>
              <li class="list-group-item">Display articles as a tag system</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="v-pills-author" role="tabpanel" aria-labelledby="v-pills-author-tab">
            {% include "about/author.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 